.favorites-container {
	position: absolute;
	padding: 40px 0;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background: lavender;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.favorites-container h1 {
	font-weight: bold;
	color: cadetblue;
}

.favorites-container p {
	color: darkslateblue;
	font-style: italic;
}
