.offer {
    background: white;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid #cecece;
    overflow-x: hidden;
    position: relative;
}
  
.offer .far {
    position: absolute;
    right: 20px;
    top: 20px;
    color: silver;
}

.offer h2 {
    margin: 0;
    padding: 20px 10px;
    background: darkslateblue;
    color: white;
    font-weight: bold;
    flex-grow: 1;
    word-break: break-word;
}
  
.offer p {
    margin: 20px 0;
    padding: 10px;
    font-style: italic;
    color: #333;
    flex-grow: 1;
}
  
.offer a {
    border-top: 2px solid;
    text-decoration: none;
    color: lightcoral;
    padding: 20px 0 0 0;
    font-weight: bold;
}