.App {
  text-align: center;
  position: relative;
}

.App-header {
  background-color: #282c34;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 10px solid #23272f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header h1 {
  padding: 0 0 0 20px;
  font-size: 3rem;
}

small {
  color: #5d465a;
  font-weight: bold;
  margin-top: 50px;
}

.App-header select {
  border: none;
  border-radius: 3px;
  width: 250px;
  padding: 10px;
  font-weight: bold;
  color: #1d79ec;
  margin-right: 20px;
}

.App-header input {
  border: none;
  border-radius: 3px;
  width: 250px;
  padding: 10px;
  font-weight: bold;
  color: #1d79ec;
  margin-right: 20px;
}

.App-header input:focus {
  border: none;
  outline: none;
}

.App-header .actions {
  display: flex;
}

.App-section {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  padding: 50px 0 50px 0;
}

.App-section button {
  background: white;
  border: none;
  padding: 5px 10px;
  border-bottom: 5px solid silver;
  border-radius: 3px;
  color: darkslategray;
  font-weight: bold;
  cursor: pointer;
}

.App-section button:last-child {
  margin-left: 10px;
}

.App-section .message {
  color: lightcoral;
  font-size: 1.5rem;
  font-weight: bold;
}

.offers-container {
  width: 90%;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
  justify-content: center;
  grid-gap: 20px;
}

.offers-container .offer {
  background: white;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid #cecece;
  overflow-x: hidden;
}

.offers-container .offer h2 {
  margin: 0;
  padding: 20px 10px;
  background: darkslateblue;
  color: white;
  font-weight: bold;
  flex-grow: 1;
  word-break: break-word;
}

.offers-container .offer p {
  margin: 20px 0;
  padding: 10px;
  font-style: italic;
  color: #333;
  flex-grow: 1;
}

.offers-container .offer a {
  border-top: 2px solid;
  text-decoration: none;
  color: lightcoral;
  padding: 20px 0 0 0;
  font-weight: bold;
}

.buttons-container {
  margin: 50px 0 0 0;
}

@media screen and (max-width: 960px) {

  .App-header {
    flex-direction: column;
  }

  .App-header .actions {
    padding: 0 0 20px 0;
  }

  .App-header h1 {
    font-size: 2rem;
    padding: 0;
  }

  .App-section {
    margin-top: 150px;
  }

}

@media screen and (max-width: 650px) {

  .App-header .actions {
    flex-direction: column;
  }

  .App-header .actions input {
    margin: 0 0 10px 0;
    width: 300px;
  }

  .App-header .actions select {
    width: 300px;
  }

}

@media screen and (max-width: 430px) {

  .App-header .actions input,
  .App-header .actions select {
    width: 200px;
  }

}